<form>
  <div class="modal-body">
    <div class="form-label-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Full Name" [(ngModel)]="new_user.full_name" name="full_name">
      </mat-form-field>
    </div>
    <div class="form-label-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" [(ngModel)]="new_user.email" name="user_email">
      </mat-form-field>
    </div>
    <div class="form-label-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="password" type="password" [(ngModel)]="new_user.password" name="user_pass">
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-select placeholder="User Role" [(ngModel)]="new_user.user_role_id" name="user_role_id">
        <mat-option *ngFor="let user_role of user_roles_list" [value]="user_role.id">
          {{user_role.display_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="form-label-group">
      <button mat-raised-button type="button" (click)="addNewAdmin()" class="btn btn-danger pull-right">Create User</button>
    </div>
  </div>
</form>